html {
  background-image: linear-gradient(to right bottom, rgba(9, 54, 45, 0.63), 
  rgba(0, 15, 60, 0.33)), url("./resources/space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  h2 {
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 28px;
    font-weight: 500;
    text-shadow: 4px 4px 6px rgb(148, 148, 148);
    text-align: center;
    padding: 2%;
  }
  table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    background-color: white;
  }
  tr, td {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    border: 1px solid #909099;
    text-align: center;
    padding: 8px;
  }  
  tr:nth-child(even) {
    background-color: #e9e9e9;
    text-align: center;
  }
  th{
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    border: 1px solid #909099;
    text-align: center;
    padding: 8px;
  }